<form name="editContact" class="add-new-panel" method="put" data-bind="visible: isEditContactHidden(), submit: updateContact ">
    <div class="input-panel">
        <h2>Edit contact</h2>
        <div>

            <a class="input-photo">
                <img class="block" id="avatar-edit" width="50" height="50" data-default-image="/Images/Default/unknown.jpg" data-bind="image: editContact().avatar" />
            </a>
            <input type="hidden" name="id" data-bind="value: editContact().id" />
            <input type="hidden" name="Avatar" data-bind="value: editContact().avatar" />
            <input type="file" name="AvatarFile" accept="image/*" data-bind="imageInput: editContact().avatar, inputButton : '.input-photo', targetImg: 'avatar-edit'" />
            <input type="text" name="FirstName" placeholder="First name" required data-bind="value: editContact().first_name" />
            <input type="text" name="LastName" placeholder="Last name" required data-bind="value: editContact().last_name" />
            <input type="text" name="CompanyName" placeholder="Company name" required data-bind="value: editContact().company_name" />
            <input type="text" name="JobTitle" placeholder="Job title" required data-bind="value: editContact().job_title" />
            <input type="email" name="Email" placeholder="Email" required data-bind="value: editContact().email" />
            <input type="text" name="Phone" placeholder="Phone" reqired data-bind="value: editContact().phone" />
            <select name="Gender" required data-bind="value: editContact().gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
    </div>
    <div class="button-panel">
        <button class="back" type="reset" data-bind="click: hideContactEditPanel"><i class="fa fa-arrow-left fa-lg"></i></button>
        <button class="send" type="submit"><i class="fa fa-upload fa-lg"></i></button>
    </div>
</form>
